<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tylerricardc196">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TylerRicardC196">
        <activity
            android:name=".UI.AddModifyAssignments"
            android:exported="false" />
        <activity
            android:name=".UI.CourseRecyclerAdapter"
            android:exported="false" />
        <activity
            android:name=".UI.AddModifyCourses"
            android:exported="false"
            android:label="Add / Modify Course" />
        <activity
            android:name=".UI.AddModifyTerm"
            android:exported="false"
            android:label="Add / Modify Term" />
        <activity
            android:name=".UI.TermUI"
            android:exported="false"
            android:label="@string/title_activity_term_ui" />
        <activity
            android:name=".UI.DetailedAssignment"
            android:exported="false" />
        <activity
            android:name=".UI.DetailedTerms"
            android:exported="false" />
        <activity
            android:name=".UI.DetailedCourses"
            android:exported="false" />
        <activity
            android:name=".UI.AssignmentsUI"
            android:exported="false" />
        <activity
            android:name=".UI.CoursesUI"
            android:exported="false" />
        <activity
            android:name=".UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>